.submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.submenuItem {
}

.link {
  transition: background 0.4s ease-out;
  font-weight: 700;
  font-size: 1em;
  line-height: 3em;
  text-decoration: none;
  color: #d7d7d7;
  text-transform: none;
  display: block;
  position: relative;
  padding: 0 20px;
  height: 50px;
}

.link:hover {
  background-color: #2b2b2b;
}

.linkActive {
  composes: link;
  background-color: #2b2b2b;
}
