.alternateSection {
  padding: var(--gutter2) var(--gutter2);
  margin: 0 calc(var(--gutter2) * -1);
}

.alternateSection:nth-child(even) {
  background-color: var(--color-off-black);
  color: var(--color-white);
}

.alternateSection h2 {
  margin-top: 0;
}

.meta {
  margin-bottom: var(--gutter2);
}

.meta small {
  font-size: 0.875rem;
}

@media screen and (min-width: 780px) {
  .alternateSection {
    padding: var(--gutter4) var(--gutter4);
    margin: 0 calc(var(--gutter4) * -1);
  }
}
