.contentWrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  display: flex;
  transition: transform 0.3s ease-out;
  transform: translateX(calc(var(--sidebar-width) * -1));
  width: calc(100vw + var(--sidebar-width));
  will-change: transform;
  flex: 1;
}

.mainSubmenuOpen {
  composes: main;
  transform: translateX(0);
}

.sidebar {
  background-color: var(--color-darkest-grey);
  width: var(--sidebar-width);
  flex: none;
}

.pageContent {
  padding: var(--gutter2);
  width: 100vw;
}

@media screen and (min-width: 780px) {
  .pageContent {
    padding: var(--gutter2) var(--gutter4);
  }

  .main {
    width: 100vw;
    transform: translateX(0);
  }

  .toggleSubmenu {
    display: none !important;
  }
}
