.sidebarDecoration {
  position: relative;
  max-width: 260px;
  overflow: hidden;
  width: var(--sidebar-decoration-width);
  height: var(--sidebar-decoration-height);
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-out;
}

.item {
  list-style: none;
  height: var(--sidebar-decoration-height);
  width: var(--sidebar-decoration-width);
  flex: none;
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  fill: var(--color-white);
  height: auto;
  width: 140px;
}
