:root {
  --font-size: 16px;
  --gutter: 8px;
  --sidebar-width: 260px;

  --sidebar-decoration-width: var(--sidebar-width);
  --sidebar-decoration-height: 220px;

  --color-white: #fff;
  --color-darkest-grey: #333333;
  --color-darker-grey: #4d4d4d;
  --color-dark-grey: #dddcdc;
  --color-light-grey: #dddcdc;
  --color-lighter-grey: #f0f0f0;

  --color-menu-active: #eee;
  --color-menu-icon: #bcbcbc;
  --color-menu-icon-active: #444444;
}
