:root {
  --font-size: 16px;

  --gutter: 8px;
  --gutter2: calc(var(--gutter) * 2);
  --gutter3: calc(var(--gutter) * 3);
  --gutter4: calc(var(--gutter) * 4);

  --sidebar-width: 260px;

  --sidebar-decoration-width: var(--sidebar-width);
  --sidebar-decoration-height: 220px;

  --color-light-blue: #53aae4;
  --color-white: #fff;
  --color-black: #000;
  --color-off-black: #1f1b1b;
  --color-darkest-grey: #333333;
  --color-darker-grey: #4d4d4d;
  --color-dark-grey: #dddcdc;
  --color-light-grey: #dddcdc;
  --color-lighter-grey: #f0f0f0;

  --color-menu-active: #eee;
  --color-menu-icon: #bcbcbc;
  --color-menu-icon-active: #444444;
}
